@use './partials/appHeader.scss';
@use './partials/appFooter.scss';
@use './partials/main-login-signup.scss';
@use './partials/dashboard.scss';
@use './partials/indexApartments.scss';
@use './root.scss' as *;

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  //background-image: url(/src/assets/logo.png);
  /*     .container{
        background-color: $ourbnb-white;
    } */
}

/* main admin */
#main-admin {
  height: calc(100vh - 149px);
  overflow-y: scroll;
}

/* #region BRAINTREE */

.submit-button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
  }

/* #endregion BRAINTREE */

.btn-1:active,
.btn-4:active {
    scale: 0.7;
    transition: all 0.3s ease-in-out;
}

.btn-1 {
    color: $ourbnb-white;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid $ourbnb-white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    // margin: 0 20px;
    border-radius: 5px;
    background-color: $ourbnb-red;
    font-weight: 600;
}

.btn-1-blue {
    background-color: $ourbnb-blue !important;
}

.btn-1-orange {
  background-color: $ourbnb-orange !important;
}

.btn-1-green {
  background-color: $ourbnb-green !important;
}

.btn-1-red {
  background-color: $ourbnb-red !important;
}

.btn-1:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: $ourbnb-white;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}

.btn-1:hover:before {
    left: 95%;
}

.btn-2 {
    color: $ourbnb-white;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid $ourbnb-white;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    // margin: 0 20px;
    border-radius: 5px;
    background-color: $ourbnb-light-grey;
    font-weight: 600;
}

.btn-2:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: $ourbnb-white;
    right: -40px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}

.btn-2:hover:before {
    right: 105%;
}

/* .action-td{
  .btn-1,
  .btn-2{
    width: 30px;
  }
} */