@use './partials/appHeader.scss';
@use './partials/appFooter.scss';
@use './root.scss' as *;

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  //background-image: url(/src/assets/logo.png);
  /*     .container{
        background-color: $ourbnb-white;
    } */
}

/* #region BRAINTREE */

.submit-button {
  cursor: pointer;
  font-weight: 500;
  left: 3px;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  appearance: none;
  display: inline-block;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.submit-button--red {
  outline: none;
  background-color: $ourbnb-dark-red;
  border-color: $ourbnb-dark-red;
  color: $ourbnb-white;
  transition: all 200ms ease;
}

.submit-button--red:hover {
  background-color: $ourbnb-red;
  color: $ourbnb-white;
}

/* #endregion BRAINTREE */