@use '../root.scss' as *;

.card-footer {
    animation-name: slidein;
    animation-duration: 1.5s;
/*     
    li:first-child {
        transform: translateY(20px);
    } */
}

@keyframes slidein {
    from {
        transform: translateY(-50px);
        opacity:0;
    }

    to {
        transform: translateY(0);
        opacity:1;
    }
}