@use "../root.scss" as *;

h1 {
    color: $ourbnb-red !important;
    font-weight: 600 !important;
    animation: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

h1 + p {
    animation-name: slide_from_left;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slide_from_left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.card-footer.dashboard {
    animation-name: slidein;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;

    a.dash_link {
        height: 200px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(
            -45deg,
            $ourbnb-green,
            $ourbnb-red,
            $ourbnb-blue,
            $ourbnb-orange
        );
        background-size: 600% 600%;
        animation: gradient 10s ease infinite;
        span {
            display: none;
            transition: all 300ms;
        }
    }

    .dash_link:hover span {
        display: block;
    }

    i {
        font-size: 4rem;
        transition: all 300ms;
    }

    .dash_link:hover i {
        font-size: 2rem;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
