@use '../root.scss' as *;



.cursor_none {
    cursor: auto !important;
}

.sponsorship .card:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 100%;
    background: $ourbnb-white;
    left: 0px;
    top: -30px;
    transform: rotate(0);
    transition: all .3s;
    opacity: 0.3;
}

.sponsorship .card:hover:before {
    top: 170px;
}

.sponsorship .card {
    animation-name: slidedown;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 1px 8px $ourbnb-black;
    opacity: 0;
    transition:box-shadow 0.4s ease;
}

.sponsorship .card:hover {
    box-shadow: none;
}

.sponsorship .card-header {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.sponsorship .card-footer {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


@keyframes slidedown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: 1s !important;
}

.delay-2 {
    animation-delay: 1.5s !important;
}