@use '../root.scss' as *;



.cursor_none {
    cursor: auto !important;
}

.sponsorship .card:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 100%;
    background: $ourbnb-white;
    left: 0px;
    top: -30px;
    transform: rotate(0);
    transition: all .3s;
    opacity: 0.3;
}

.sponsorship .card:hover:before {
    top: 170px;
}

.sponsorship .card {
    animation-name: slidedown;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes slidedown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: 1s !important;
}

.delay-2 {
    animation-delay: 1.5s !important;
}

/* .card-title,
.card-p {
    color: $ourbnb-white !important;
    text-shadow: -1.3px 0px 0px $ourbnb-black, 1.3px 0px 0px $ourbnb-black, 0px -1.3px 0px $ourbnb-black, 0px 1.3px 0px $ourbnb-black;
} */

.checks-field{
    .fa-solid{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
    }
    .fa-duotone{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
    }
    span{
      align-self: self-end;
    }
}