@use '../root.scss' as *;

.bg_bronze {
    background-color: $ourbnb-bronze !important;
}

.bg_silver {
    background-color: $ourbnb-silver !important;
}

.bg_gold {
    background-color: $ourbnb-gold !important;
}

.cursor_none {
    cursor: auto !important;
}

.sponsorship .card:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 100%;
    background: $ourbnb-white;
    left: 0px;
    top: -30px;
    transform: rotate(0);
    transition: all .3s;
    opacity: 0.3;
}

.sponsorship .card:hover:before {
    top: 170px;
}

.sponsorship .card {
    animation-name: slidedown;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes slidedown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: 1s !important;
}

.delay-2 {
    animation-delay: 1.5s !important;
}

.card-title,
.card-p {
    text-shadow: -0.7px 0px 0px $ourbnb-black, 0.5px 0px 0px $ourbnb-black, 0px -0.5px 0px $ourbnb-black, 0px 0.5px 0px $ourbnb-black;
}